.Results {
    padding: 1rem;
    max-width: 100vw;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Results p, .Results .resultsBody {
    width: 90%;
    background-color: white;
    padding: 1rem;
    box-shadow: black 4px 4px;
}

.resultsBody {
    overflow-x: scroll;
}