.SearchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.SearchBox form {
    max-width: 100vw;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.RadioGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black 4px 4px;
}

.radioLabel {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
}

.radioLabel span {
    background-color: rebeccapurple;
    padding: 1rem;
    color: white;
    width: 100%;
}

.radioLabel input[type=radio] {
    display: none;
}

.radioLabel input[type=radio]:checked + span {
    background-color: dimgray;
    color: white;
    font-weight: bold;
}

.addressBar {
    min-width: 60vw;
    max-width: 1000px;
    background-color: dimgray;
    box-shadow: black 4px 4px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addressBar input {
    width: 100%;
    max-width: 800px;
    height: 2rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: black 4px 4px;
}
